/*INICIAL*/

body {
    width: 100%;
    background-color: var(--cor-1);
    background-image: url(../../Img/Mob/Detalhe1-mob.png), url(../../Img/mob/Detalhe2-mob.png), url(../../Img/Global/Ilustracao.png);
    background-repeat: no-repeat;
    background-position: top left, right center, bottom 5em center;
}

.inicial-container {
    max-width: 248px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inicial-logo {
    margin-bottom: 24px;
}

h1 {
    margin-bottom: 16px;
    color: var(--cor-0);
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
}

.inicial-texto1 {
    color: var(--cor-0);
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    display: none;
}

.inicial-texto2 {
    color: var(--cor-0);
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.inicial-botao1  {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--cor-3);
    font-size: 16px;
    font-family: var(--fonte-principal);
    color: var(--cor-0);
    margin-bottom: 16px;
}

.inicial-botao2  {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--cor-3);
    font-size: 16px;
    font-family: var(--fonte-principal);
    color: var(--cor-0);
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    body {
        background-image: url(../Img/Tab/Detalhe1-tab.png), url(../Img/Tab/Detalhe2-tab.png), url(../Img/Tab/Ilustracao-tab.png);
    }

    .inicial-container {
        max-width: 340px;
    }

    .inicial-logo {
        width: 251px;
        height: 62px;
        margin-bottom: 48px;
    }

    .inicial-texto1 {
        display: block;
    }

    .inicial-texto2 {
        margin-bottom: 38px;
    }

    .inicial-botao1 {
        width: 344px;
        height: 48px;
    }

    .inicial-botao2 {
        width: 344px;
        height: 48px;
        margin-bottom: 40px;
    }

    h1 {
        margin-bottom: 24px;
    }    
}

@media (min-width: 1440px) {

    body {
        width: 100%;
        height: 100vh;
    }    

    .inicial-container {
        max-width: 1000px;
    }

    .inicial-logo {
        margin-bottom: 30px;
    }

    .inicial-botao1 {
        width: 362px;
        height: 48px;
    }

    .inicial-botao2 {
        width: 362px;
        height: 48px;
        margin-bottom: 33px;
    }

}
