/*FOOTER*/

footer .footer-container {
    width: 100%;
    height: 104px;
    background-color: var(--cor-2);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.copyright {
    color: var(--cor-0);
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
}