/*HEADER INICIAL - CADASTRO - LOGIN*/

.header-container {
   width: 100%;
   padding: 48px 0 106px 48px;
}

.header-menu {
   display: flex;
   gap: 58px;
   align-items: center;
   
}

.logo-header-tab {
   display: none;
}

/*HEADER HOME - MENSAGEM - PERFIL*/

.header-secundario-container {
   width: 100%;
   padding: 16px 0 48px 0;
}

.header-secundario-nav {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 40px;
   margin: auto;
}

.logo-header-secundario-tab {
   display: none;
}

.header-secundario-menu {
   display: flex;
   gap: 58px;
   align-items: center;
}

.header-secundario-usuario {
   display: flex;
   justify-content: right;
}

@media (min-width: 768px) {

   .header-container {
      padding: 48px 0 200px 48px;
   }

   .logo-header-tab {
      display: block;
   }

   .logo-header-secundario-tab {
      display: block;
   }

   .header-secundario-container {
      padding: 48px 0 150px 0;
   }

}
